*:not(.code-string) > .code-builtin {
  color: plum
}

.code-string {
  color: gold
}

.code-grammar {
  color: tomato
}

.code-var {
  color: darkseagreen
}

*:not(.code-string) > .code-assign {
  color: lightskyblue
}

body {
  background-color: #263238;
  color: white;
}


main {
  padding: 5% 10%;
}

input {
  margin: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  color: inherit;
  outline: none;
  transition: background-color 0.3s;
}

input:not(#class-input) {
  text-align: center;
}

#class-input {
  width: 100%;
  max-width: 400px;
  word-spacing: 0.5em;
}

.input-header {
  font-weight: bold
}

input:focus {
  background-color: #4f5b62
}

.code-prompt {
  color: darkseagreen
}

.code-example-output {
  color: lightgrey
}
