body {
  background-color: #263238;
  color: white;
  font-family: sans-serif;
}

main {
  padding: 5% 10%;
}

section {
  margin: 10px 20px;
  padding: 10px 20px;
}

pre {
  background-color: #000a12;
  border-radius: 2px;
  padding: 10px;
}

input {
  background-color: inherit;
  border-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 1px;
  color: inherit;
  margin: 10px;
  outline: none;
  padding: 0.5em;
  transition: background-color 0.3s;
}

input:not(#class-input) {
  text-align: center;
}

input:focus {
  background-color: #4f5b62
}

button {
  background-color: inherit;
  border-radius: 2px;
  border: 1px solid white;
  color: white;
  outline: none;
  padding: 0.5em;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #4f5b62;
}

button:active {
  background-color: white;
}

button:focus {
  border: 1px solid white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: lightgrey
}

#class-input {
  max-width: 400px;
  width: 100%;
  word-spacing: 0.5em;
}

.flexbox {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexbox > section {
  border-left: 1px solid white;
  padding-left: 20px;
}

.input-header {
  font-weight: bold
}

.code-string {
  color: gold
}

.code-grammar {
  color: tomato
}

.code-var {
  color: darkseagreen
}

.code-prompt {
  color: darkseagreen
}

.code-example-output {
  color: lightgrey
}

.code-comment {
  color: grey
}

*:not(.code-string) > .code-builtin {
  color: plum
}

*:not(.code-string) > .code-assign {
  color: lightskyblue
}
